@model ShopViewModel
@{
	ViewData["Title"] = "Index";
}

<section id="page-header" class="darkmode-ignore">
	@foreach (var banner in Model.ShopBanners.Where(b => b.IsActive))
	{
		<img src="~/admin/assets/database/headbanners/@banner.Photo" alt="Header Image" class="header-image" />
		<h2>@banner.Title</h2>
		<p>@banner.Description</p>
	}
</section>

<section id="search" class="section-p1">
	<div>
		<form>
			<i class="fas fa-search"></i>
			<input type="text"
				   id="search-item"
				   placeholder="Search products"
				   onkeyup="searchPro()" />
		</form>
	</div>
</section>

<section id="category_filter" class="section-p1">
	<div id="buttons">
		<button class="button-value btnActive" onclick="filterProducts(null)">All<span>(@ViewBag.ProductsCount)</span></button>
		@foreach (var category in Model.PCategories)
		{
			<button class="button-value" data-categoryShop-id="@category.Id" onclick="filterProducts(@category.Id)">
				@category.Name
				<span>(@category.Products.Count)</span>
			</button>
		}
	</div>
</section>

<section id="product1" class="section-p1">
	<input hidden value="@ViewBag.ProductCount" id="productCountLoadMore" />
	<div class="pro-container" id="pro-container">
		@foreach (var product in Model.Products)
{
	<div class="pro" data-categoryShop="@product.PCategoryId" style="height:418.61px;">
		<img src="~/admin/assets/database/products/mainimg/@product.Photo" style="height:72.5%;" alt="" />
		<div class="des">
			<span class="scrollable-text">@product.Owner</span>
			<h5 class="scrollable-text">@product.Name</h5>
			<div class="star">
				@for (int i = 0; i < product.Rating; i++)
				{
					<i class="fas fa-star"></i>

				}
			</div>
			<h4>$@product.Price</h4>
		</div>
		<a asp-controller="Shop" asp-action="Detail" asp-route-productId="@product.Id"><i class="fal fa-shopping-cart cart"></i></a>
	</div>

}
	</div>
</section>

<section id="pagination" class="section-p1">
	<a id="loadMoreProductBtn">Load More</a>
	@*<a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>*@
</section>

<section id="newsletter" class="section-p1 section-m1">
	<div class="newstext">
		<h4>Sign Up For Newsletters</h4>
		<p>
			Get E-mail updates about our latest shop and
			<span>special offers.</span>
		</p>
	</div>
	<div class="form">
		@await Component.InvokeAsync("Subscribe")
	</div>
</section>

<script>
	// Sayfa yüklendiğinde "All" düğmesini seçili yap
	document.querySelector('.btnActive').classList.add('changeBtn');

	function hideAllProducts() {
		document.querySelectorAll('.pro').forEach(function (product) {
			product.style.display = 'none';
		});
	}

	// Kategoriye göre ürünleri filtrelemek için bu fonksiyon kullanılır
	function filterProducts(categoryId) {
		hideAllProducts(); // Tüm ürünleri gizle

		// Tüm ürünleri göstermek için "All" seçeneği
		if (categoryId === null) {
			document.querySelectorAll('.pro').forEach(function (product) {
				product.style.display = 'block';
			});
			return;
		}

		// Seçilen kategoriye ait ürünleri göster
		document.querySelectorAll('.pro[data-categoryShop="' + categoryId + '"]').forEach(function (product) {
			product.style.display = 'block';
		});

		// Seçilen kategoriye ait düğmeyi seçili yap
		document.querySelectorAll('.button-value').forEach(function (button) {
			button.classList.remove('changeBtn');
		});
		document.querySelector('.button-value[data-categoryShop-id="' + categoryId + '"]').classList.add('changeBtn');
	}
</script>

