@model ShopViewModel
@{
	ViewData["Title"] = "Index";
}

<section id="page-header" class="darkmode-ignore">
	@foreach (var banner in Model.ShopBanners.Where(b => b.IsActive))
	{
		<img src="~/admin/assets/database/headbanners/@banner.Photo" alt="Header Image" class="header-image" />
		<h2>@banner.Title</h2>
		<p>@banner.Description</p>
	}
</section>

<section id="search" class="section-p1">
	<div>
		<form>
			<i class="fas fa-search"></i>
			<input type="text"
				   id="search-item"
				   placeholder="Search products"
				   onkeyup="searchPro()" />
		</form>
	</div>
</section>

<section id="category_filter" class="section-p1">
	<div id="buttons">
		<button class="button-value btnActive" data-category-id="null">All<span>(@ViewBag.ProductsCount)</span></button>
		@foreach (var category in Model.PCategories)
		{
			<button class="button-value" data-categoryShop-id="@category.Id">
				@category.Name
				<span>(@category.Products.Count)</span>
			</button>
		}
	</div>
</section>

<section id="product1" class="section-p1">
	<input hidden value="@ViewBag.ProductCount" id="productCountLoadMore" />
	<div class="pro-container" id="pro-container">
		@await Component.InvokeAsync("PLoadMore")
	</div>
</section>

<section id="pagination" class="section-p1">
<a id="loadMoreProductBtn">Load More</a>
</section>

<section id="newsletter" class="section-p1 section-m1">
	<div class="newstext">
		<h4>Sign Up For Newsletters</h4>
		<p>
			Get E-mail updates about our latest shop and
			<span>special offers.</span>
		</p>
	</div>
	<div class="form">
		@await Component.InvokeAsync("Subscribe")
	</div>
</section>
