@model BlogViewModel
@{
    ViewData["Title"] = "Detail";
}

<section id="blog-container">
    <div class="blog_hero">
        <img src="~/admin/assets/database/blogs/@Model.Blogs.First().Photo" alt="">
    </div>

    <main>
        <h2>@Model.Blogs.First().Title</h2>
        <div class="profile_blog">
            <div class="profile">
                <div class="blog-img">
                    <img src="~/admin/assets/database/authors/@Model.Authors.FirstOrDefault(a => a.Id == Model.Blogs.FirstOrDefault().AuthorId)?.Photo" alt="">
                </div>
                <div class="blog-text">
                    <h3>@Model.Authors.FirstOrDefault(a => a.Id == Model.Blogs.FirstOrDefault().AuthorId)?.Fullname</h3>
                    <p>@Model.Blogs.First().CreatedAt.ToShortDateString()</p>
                </div>
            </div>

            <div class="blog-button">
                    <div class="blog-btn">
                    @Model.BCategories.FirstOrDefault(b => b.Id == Model.Blogs.FirstOrDefault().BCategoryId)?.Name
                    </div>
            </div>
        </div>

        <div class="blog-content">
            <p>@Model.Blogs.First().Description</p>
        </div>

        <div class="blog-tags">
            <p>tags: </p>
            <ul>
                @foreach (var tag in Model.Tags)
                {
                    <li>@tag.Name</li>
                }
            </ul>
        </div>
    </main>
</section>

<section id="articles">
    <div class="article-heading">
        <h5>articles</h5>
        <h6>recent blog</h6>
    </div>

    <input hidden value="@ViewBag.BlogsDetailCount" id="blogDetailCount" />
    <div class="cards-container" id="blogDetailList">
        @await Component.InvokeAsync("Blog")    
    </div>

    <div class="loadBlog-button">
        <button type="button" style="cursor:pointer;" id="loadMoreDetailBtn" class="blog-btn">view more</button>
    </div>
</section>

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sign Up For Newsletters</h4>
        <p>
            Get E-mail updates about our latest shop and
            <span>special offers.</span>
        </p>
    </div>
    <div class="form">
        @await Component.InvokeAsync("Subscribe")
    </div>
</section>

