@using Cara.WebUI.Areas.Admin.ViewModels.Product;
@model ProductVM
@{
	ViewData["Title"] = "Create";
}

<div class="col-md-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Create Product</h4>
			<form class="forms-sample" method="post" enctype="multipart/form-data" id="productForm">
				@Html.AntiForgeryToken()
				<div class="form-group">
					<label>Image</label>
					<input type="file" asp-for="Photo" class="form-control file-upload-browse btn btn-primary" accept="image/*" placeholder="Image">
					<span class="text-danger" asp-validation-for="Photo"></span>
				</div>
				<div class="form-group">
					<label>Name</label>
					<input asp-for="Name" class="form-control" placeholder="Name">
					<span class="text-danger" asp-validation-for="Name"></span>
				</div>
				<div class="form-group">
					<label>Owner</label>
					<input asp-for="Owner" class="form-control" placeholder="Owner">
					<span class="text-danger" asp-validation-for="Owner"></span>
				</div>
				<div class="form-group">
					<label>Price</label>
					<input asp-for="Price" class="form-control" placeholder="Price">
					<span class="text-danger" asp-validation-for="Price"></span>
				</div>
				<div class="form-group">
					<label>Rating</label>
					<input asp-for="Rating" class="form-control" placeholder="Rating">
					<span class="text-danger" asp-validation-for="Rating"></span>
				</div>
				<div class="form-group">
					<label>Description</label>
					<input asp-for="Description" class="form-control" placeholder="Description">
					<span class="text-danger" asp-validation-for="Description"></span>
				</div>
				<div class="form-group">
					<label>Product Categories</label>
					<select class="form-control" asp-for="PCategoryId">
						@foreach (PCategory category in ViewBag.PCategories)
						{
							<option value="@category.Id">@category.Name</option>
						}
					</select>
				</div>
				<div class="form-group">
					<label for="TagIds">Sizes</label>
					<select class="form-control" name="SizeIds" id="SizeIds" multiple>
						@foreach (Size size in ViewBag.Sizes)
						{
							<option value="@size.Id">@size.Name</option>
						}
					</select>
				</div>
				<button type="submit" class="btn btn-primary mr-2" id="submitBtn">Submit</button>
				<a asp-action="Index" class="btn btn-light">Cancel</a>
			</form>
		</div>
	</div>
</div>
