@model IEnumerable<Comment>
@{
    ViewData["Title"] = "Index";
}

<div class="col-lg-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Comment Items</h4>
			<a class="btn btn-primary" asp-action="Create">Create Comment</a>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Image</th>
							<th>Fullname</th>
							<th>Profession</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (Comment commentItem in Model)
						{
							<tr>
								<td class="py-1">
									<img style="width:60px; height:60px;" src="~/admin/assets/database/comments/@commentItem.Photo" />
								</td>
								<td style="max-width:250px">@commentItem.Fullname</td>
								<td style="max-width:250px">@commentItem.Profession</td>
								<td>
									<a class="btn btn-success" asp-action="Detail" asp-route-id="@commentItem.Id">
										<i class="mdi mdi-information-outline" style="color:white"></i>
									</a>
									<a class="btn btn-warning" asp-action="Update" asp-route-id="@commentItem.Id">
										<i class="mdi mdi-grease-pencil" style="color:white"></i>
									</a>
									<a class="btn btn-danger" asp-action="Delete" asp-route-id="@commentItem.Id">
										<i class="mdi mdi-delete" style="color:white"></i>
									</a>

								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

